[Unit]
Description=node_exporter for delivering node metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
StandardOutput=journal
StandardError=journal
User={{ node_exporter.service_user }}
Group={{ node_exporter.service_group }}
Environment=GOMAXPROCS={{ node_exporter.gomaxprocs }}
ExecStart={{ node_exporter.bin_dir }}/node_exporter --collector.textfile.directory={{ node_exporter.config_dir }}/textfile \
{% if grains['virtual'] == 'LXC' -%}
--no-collector.cpu \
{% else -%}
--collector.ntp \
{% endif -%}
{% if grains['init'] == 'systemd' -%}
--collector.systemd \
{% endif -%}
{% if node_exporter.config.enabled_collector != 'None' -%}
{% for collector, _ in node_exporter.config.enabled_collector.items() -%}
--collector.{{collector}} \
{% endfor -%}
{% endif -%}
{% if node_exporter.config.disabled_collector != 'None' -%}
{% for collector, _ in node_exporter.config.disabled_collector.items() -%}
--no-collector.{{collector}} \
{% endfor -%}
{% endif -%}
--collector.filesystem.ignored-mount-points "^/(var/lib/docker/|run/docker/netns/).*"

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
